<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RifopImportForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RifopImportForms.Properties.Settings.Cn" connectionString="DATA SOURCE=172.16.24.222:1521/NIFNINU;USER ID=NIFNINU; PASSWORD=Ninuritop" />
    </connectionStrings>
    <applicationSettings>
        <RifopImportForms.Properties.Settings>
            <setting name="ApiBaseUrl" serializeAs="String">
                <value>http://192.168.150.3:8821/api/v1/get/</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>m4icouUG/5nxsNeVD5wQtsAQYj8lm0Xij4fjaDzmM7sUFxR+UfIy1V3cA1zzCV1bYLbMKogxTbyNmeRBA9s4wQ==</value>
            </setting>
        </RifopImportForms.Properties.Settings>
    </applicationSettings>
</configuration>